.wrapper
  .header-in
    .header-in__title
      %h1 Connected Park
      .header-in--subtitle
        %p オススメ公園を分かち合うオンラインプラットフォーム

  .login-title
    %h2 Edit Account
    .account-page
      = form_for(current_user) do |f|
        .field
          .field-input__name
            = f.text_field :name, autofocus: true, placeholder: 'お名前', class: "search-box__text"
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = icon('far', 'image fa-1g', class: 'icon')
                = f.file_field :image, class: 'hidden'
        .field
          .field-input
            = f.email_field :email, placeholder: 'E-Mail'
        .field
          .field-input
            = f.password_field :password, autocomplete: "off", placeholder: 'Password(英数字8文字以上)'
        .field
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password(英数字8文字以上)'

        .actions
          = f.submit "Update", class: 'create-btn'
